# Default ignored files
/shelf/
/workspace.xml
/inf1.1.iml
/.idea
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/out/
*.class


